
 


<link rel="stylesheet" href="/css/BorrowStyle.css">



 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Borrow Request</h1>
          <tr>
            <span>
            <td><label id="title"><h4 class = "cart_name3">UserX,requested: bookx by authorx 1000, booky by authory 1001 </h4></label></td>
            <a class = "order">Accept</a>
            <a class = "order">Decline</a>
          </span>
          </tr>

          </div>

          <span>
          <a class = "order" href = "/user/regUser">Back</a>
          </span>
        </form>
      </div>
    </div>    