
 


<link rel="stylesheet" href="/css/registerStyle.css">

<div class = "list">
      <div class = "form1">
        <form action = "/lib/deleteBook" method = "POST">
          <h1 class = "xUser"> Delete Books</h1>
          <div class = list>

    
         
            <td><label id="bNo"><h4 class = "cart_name">Book No.: </h4> </label></td>
            <td><input id="bNo1" name="bNo" placeholder= "Book No."type="text" required> </input></td>
        


          </div>
          <button class = "order"> Confirm</button>
          <span>
        <br>
          <a href = "/lib/editBooksDB">Back</a>
          
          </span>
        </form>
      </div>
    </div>