
 


<link rel="stylesheet" href="/css/registerStyle.css">

<div class = "list">
      <div class = "form1">
       
          <h1 class = "xUser"> Edit Books Database</h1>
          

          <span>
          <a class = "order" href = "/login/lib">Back</a>
          
          <a class = "order" href = "addBook">Add book</a>
          <a class = "order" href = "deleteBook">Delete book</a>
          <a class = "order" href = "editBook">Edit book</a>
          </span>
     
      </div>
    </div>