<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- FONT TEMPLATE --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {{!-- CSS TEMPLATE --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css"> 

    <link rel="stylesheet" href="css/BorrowStyle.css">
    <title>Library </title>
    

</head>
<body>
    <div class = "container">
        {{{body}}}
    </div>
    {{!-- This is the bootstrap JS --}}

</body>
</html>