
 

{{!-- 
<link rel="stylesheet" href="/css/registerStyle.css">


<form action="/mainMenu/libLogin" method="POST">
  <div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Librarian Login Page</h1>
          <div class = list>

            <tr>

            <tr>
              <td><label id="email"><h4 class = "cart_name">Username: </h4></label></td>
              <td><input id="email1" name="username" placeholder= "Username" type="name" required> </input></td>
             </tr>

             <tr>
              <td><label id="pwd"><h4 class = "cart_name">Password: </h4></label></td>
              <td><input id="pwd1" name="password" placeholder= "Password"type="password" required> </input></td>
           </tr>

           <tr>
          
         </tr>

          </div>

          <span>
          <button class = "order">Login</button>
          <div>
          <h5 class = "cart_name2"><a href="/">Cancel Login</a> </h5>
          </div>
          </span>
        </form>
      </div>
    </div>
    
</form> --}}

<link rel="stylesheet" href="/css/BorrowStyle.css">

<form  method="post" action="/mainMenu/libLogin">
  <form>
    
        <legend>Librarian Sign In</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"required>
        </div>
        
      
        <button  class="btn btn-primary">Login</button>

        <p>
              <h5 class = "cart_name2"><a href="/mainMenu/login">Regular Login</a> </h5>
        </p> 

  </form>
  
</form>


