
 


<link rel="stylesheet" href="/css/BorrowStyle.css">

<div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Librarian</h1>
          
          <a class = "order"  href = "/lib/editBooksDB">Edit Book Database</a>
          
          <a class = "order" href= "/lib/viewUsers">View User Data</a>

          <a class = "order" href= "/lib/borrowReq">Borrow Request List</a>


          <a class = "order" href= "/lib/RenderBookList">Render Books List</a>

          <a class = "order" href= "/">Logout</a>


          
        </form>
      </div>
</div>    