
 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        <form action="" method="POST">
          <h1 class = "xUser">Librarian Login</h1>
         
          <div class = list>
              <input type = "name", id ="shopping cart", placeholder = "Username">
              <input type = "password", id ="shopping cart", placeholder = "Password">
              <button class = "order"  href = "/login/lib">login</a>
          </div>
          
          
          <div class = "reg"><a href= "/">Back</a></div>

        
        
        </form>
      </div>
</div>    