<link rel="stylesheet" href="/css/BorrowStyle.css">

<form  method="post" action="/mainMenu/login">
  <form>
    
        <legend>Sign In</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        
      
          <button  class="btn btn-primary">Login</button>

    
                
        <p>
              <h4 class = "cart_name2">Don't have an account? <a href="/mainMenu/register">Register Now!</a> </h4>
              <h5 class = "cart_name2"><a href="/">Cancel Login</a> </h5>
        </p> 
  </form>
  
</form>


