
 


<link rel="stylesheet" href="/css/registerStyle.css">


<form action="/mainMenu/login" method="POST">
  <div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Login Page</h1>
          <div class = list>

            <tr>

            <tr>
              <td><label id="email"><h4 class = "cart_name">Email: </h4></label></td>
              <td><input id="email1" name="email" placeholder= "Email" type="email" required> </input></td>
             </tr>

             <tr>
              <td><label id="pwd"><h4 class = "cart_name">Password: </h4></label></td>
              <td><input id="pwd1" name="pwd" placeholder= "Password"type="password" required> </input></td>
           </tr>


         </tr>

          </div>

          <span>
          <button class = "order">Login</button>
          <div>
          <h4 class = "cart_name2">Don't have an account?<a href="/mainMenu/register">Register</a> </h4>
          <h5 class = "cart_name2"><a href="/">Cancel Login</a> </h5>
          </div>
          </span>
        </form>
      </div>
    </div>
    
</form>

