<div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Welcome xUser</h1>
          <h2 class = 'cart_name'>Cart</h2>
          <div class = list>
              <input type = "text", id ="shopping cart", placeholder = "book#x">
          </div>
          <button class = "order">Library</button>
          <button class = "order">Borrow Now</button>
        </form>
      </div>
</div>    