

<div class="jumbotron">
  <h1 class="display-3">Insert Website Name</h1>
  <p class="lead">Welcome to Insert Website Name where we have all your literary needs!</p>
  <p class="lead">
      <a class = "order"  href = "/mainMenu/login">Login</a>
          
      <a class = "order" href= "/mainMenu/register">Register</a>

      <a class = "order" href= "/mainMenu/libLogin">Librarian Login</a>
  </p>
</div>


 


<link rel="stylesheet" href="/css/BorrowStyle.css">

