
 


<link rel="stylesheet" href="/css/registerStyle.css">


<form action="/mainMenu/register" method="POST">
  <div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Register Page</h1>
          <div class = list>

            <tr>

            <tr>
              <td><label id="email"><h4 class = "cart_name">Email: </h4></label></td>
              <td><input id="email1" name="email" placeholder= "Email" type="email" required> </input></td>
             </tr>

             <tr>
              <td><label id="pwd"><h4 class = "cart_name">Password: </h4></label></td>
              <td><input id="pwd1" name="pwd" placeholder= "Password"type="password" required> </input></td>
           </tr>

           <tr>
            <td><label id="cc"><h4 class = "cart_name">CC No.: </h4> </label></td>
            <td><input id="cc1" name="cc" placeholder= "Credit Card No."type="text" required> </input></td>
         </tr>

          </div>

          <span>
          <button class = "order">Register</button>
          <div>
          <h4 class = "cart_name2">Already have an account?<a href="/">Login</a> </h4>
          </div>
          </span>
        </form>
      </div>
    </div>
    
</form>

