
 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Regular User</h1>
          <h2 class = 'cart_name'>Cart</h2>
          <div class = list>
              <input type = "text", id ="shopping cart", placeholder = "book#x">
          </div>
          <a class = "order"  href = "/regUser/borrowBooks">Borrow Books</a>
          
          <a class = "order" href= "/regUser/returnBooks">Return Books</a>

          <a class = "order" href= "/regUser/bills">Pay Bills</a>
          
          <a class = "order" href= "/">Logout</a> 
        
        
        </form>
      </div>
</div>    