
 


<link rel="stylesheet" href="/css/BorrowStyle.css">


<div class = "list">
      <div class = "form1">
        <form>
          <h1 class = "xUser"> Welcome xUser</h1>
          <span>
          <h2 class = 'cart_name'>List of Borrowed books</h2>
          <div class = list>
            <h4 class = 'cart_name'>Date borrowed: </h4>
            <div>
              <h4 class = 'cart_name'>Date due: </h4>
            </div>
              <input type = "text", id ="list_bb", placeholder = "book#x">
              <a class = "order">Return </a>
          </div>
        </span>
          <a class = "order" href = "/login/regUser">Back</a>
        </form>
      </div>
    </div>