
 


<link rel="stylesheet" href="/css/BorrowStyle.css">

<div class = "list">
      <div class = "form1">
        <form method = "post" action = "/regUser/pay"> 
          <h1  class = "xUser"> Welcome {{fName}} {{lName}}</h1>
          <span>
          
          <div class = list>
          <h4 name = "debt" class = 'cart_name'>Payment Due:{{debt}} </h4>
       
          </div>
          <label style = "margin-left: 10px">Input Amount</label>
          <input style = "margin-left: 5px" name = "amount" type = "text", id ="list_bb", placeholder = "Amount">
          <button class = "order">Pay </button>
          </div>
        </span>
          <a class = "order" href = "/login/regUser">Back</a>
        </form>
      </div>
    </div>